#inner {
  margin-top: 20px;
  margin-bottom: 0;
}
#github, #github img {
  display: none !important;
}
a#pdf {
  display: none !important;
}
#hd h1, #hd h2 {letter-spacing: normal !important;}
.job p, 
.education p, 
.congress p { page-break-inside: avoid; }

