/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    design and code originally by: thingsthatarebrown.com (matt brown)
    modified by: Gabriel Mazetto
---------------------------------------------------------------------------------
*/


.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
html { background: #f5f5f5; }
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background: #fff; border: solid #666; border-width: 8px 0 2px 0; -moz-box-shadow: 0px 0px 40px #808080; -webkit-box-shadow: 0px 0px 40px #808080; box-shadow: 0px 0px 40px #808080; -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }
#github img { position: absolute; top: 0; right: 0; border: 0; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }
.tags { display: inline-block; margin: 0.5em 0.5em 0 0; padding: 3px 5px; background: #CCC; color: #fff; }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.congress h2, .congress h3 { width: 90%; }
.education h2, .education h3 { width: 80%; }
.job, .education, .congress { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job h4, .education h4, .congress h4 { position: absolute; top: 0.35em; right: 0; font-size: 110%; font-style: italic; }
.job p { margin: 0.75em 0; text-align: justify; }
.job p:last-child { margin: 0.75em 0 3em 0; }

.last, .job:last-child, .education:last-child { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left; }
.talent h2 { margin-bottom: 6px; padding-right: 1em; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}

/* CSS3 Animation */
@-moz-keyframes appear
{
  from {opacity: 0;}
  to {opacity: 1}
}
@-webkit-keyframes appear
{
  from {opacity: 0;}
  to {opacity: 1}
}
@keyframes appear
{
  from {opacity: 0;}
  to {opacity: 1}
}

html { -moz-animation: appear 2s; -webkit-animation: appear 2s; animation: appear 2s;}